<!DOCTYPE html>
<html>
    <head>
        <title>Cleartext Microblogging</title>
    </head>
    <body>
        <header>
        {% block header %}<h1><a href="/">Cleartext Microblogging</a></h1>{% end %}
        {% block login %}<h2>{% if current_user %}Welcome, <a href="{{ reverse_url('user', current_user.username) }}">{{ current_user.username }}</a>! <a href="/logout/">logout</a>{% else %}<a href="/login/">Login</a>{% end %}</h2>{% end %}
        </header>
        {% block content %}{% end %}
    </body>
</html>
